body{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 170px 80px 1100px 170px;
    
    background-color:rgb(254, 240, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
}
header, nav, footer {
    grid-column: 1/3;
}
.section{
    background-color: rgba(240, 88, 237, 0.874);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}
nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
nav a:active{
    color: black;
}
header{
    background-image: url(https://media.tenor.com/qLB38vF65bEAAAAe/my-clematis-alnst.png);
    background-repeat: repeat-x;
}
footer{
    background-image: url(https://images.genius.com/c64ddf679e15791d138a26aafc40b06d.700x241x1.png);
    background-size: contain;
}
aside, article{
    color: white;
}
section{
    min-height: auto;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.63);
    color: black;
}
.form-group, .new-form-group {
    margin: 30px 10px;
}
input {
    font-size: 24px;
    padding: 5px;
}
input:focus{
    border-color: #ff00e1; 
    background-color: #fbaff2;
    outline: none;
    font-style: italic;
}
button {
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 22px;
    font-weight: bold;
    border: 3px solid rgba(240, 88, 237);
    color: rgb(240, 88, 237);
    background-color: white;
}
button:active {
    color: white;
    background-color: rgba(240, 88, 237);
}
select {
    font-size: 22px;
    margin-left: 10px;
    padding: 5px 10px;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    border-radius: 30px;
    margin: 15% auto;
    padding: 40px;
    width: 50%;
    font-weight: bolder;
} 
.close {
    color: #dd18d3;
    float: right;
    font-size: 28px;
    font-weight: bolder;
}
.close:hover, .close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}